if TARGET_DLVISION_10G

config SYS_BOARD
	string
	default "405ep"

config SYS_VENDOR
	string
	default "gdsys"

config SYS_CONFIG_NAME
	string
	default "dlvision-10g"

endif

if TARGET_IO

config SYS_BOARD
	string
	default "405ep"

config SYS_VENDOR
	string
	default "gdsys"

config SYS_CONFIG_NAME
	string
	default "io"

endif

if TARGET_IOCON

config SYS_BOARD
	string
	default "405ep"

config SYS_VENDOR
	string
	default "gdsys"

config SYS_CONFIG_NAME
	string
	default "iocon"

endif

if TARGET_NEO

config SYS_BOARD
	string
	default "405ep"

config SYS_VENDOR
	string
	default "gdsys"

config SYS_CONFIG_NAME
	string
	default "neo"

endif
