// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the SH7751 R2Dplus
 *
 * Copyright (C) 2019 Marek Vasut <marek.vasut@gmail.com>
 */

/dts-v1/;
/ {
	model = "R2D";
	compatible = "renesas,r2d", "renesas,sh7751";
};
