// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Copyright (C) 2026 RISCstar Ltd.
 */

#include <dt-bindings/clock/spacemit,k1-syscon.h>
#include "binman.dtsi"

/ {
	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000000 0x80000000>;
	};
};

&syscon_mpmu {
	clocks = <&osc_32k>, <&vctcxo_1m>, <&vctcxo_3m>, <&vctcxo_24m>,
		 <&pll CLK_PLL1_D4>;
	clock-names = "osc", "vctcxo_1m", "vctcxo_3m", "vctcxo_24m",
		      "pll1_d4";
};

&syscon_apbc {
	clocks = <&osc_32k>, <&vctcxo_1m>, <&vctcxo_3m>, <&vctcxo_24m>,
		 <&pll CLK_PLL1_D4>,
		 <&syscon_mpmu CLK_PLL1_31P5>,
		 <&syscon_apmu CLK_PMUA_ACLK>;
	clock-names = "osc", "vctcxo_1m", "vctcxo_3m", "vctcxo_24m",
		      "pll1_d4", "pll1_d78_31p5", "pmua_aclk";
};

&uart0 {
	bootph-pre-ram;
};

&osc_32k {
	bootph-pre-ram;
};

&vctcxo_1m {
	bootph-pre-ram;
};

&vctcxo_3m {
	bootph-pre-ram;
};

&vctcxo_24m {
	bootph-pre-ram;
};

&syscon_mpmu {
	bootph-pre-ram;
};

&pll {
	bootph-pre-ram;
};

&syscon_apmu {
	bootph-pre-ram;
};

&syscon_apbc {
	bootph-pre-ram;
};
