// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Copyright (C) 2026 RISCstar Ltd.
 */

#include <dt-bindings/clock/spacemit,k1-syscon.h>
#include "binman.dtsi"

/ {
	aliases {
		console = &uart0;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000000 0x80000000>;
	};
};

&syscon_mpmu {
	clocks = <&osc_32k>, <&vctcxo_1m>, <&vctcxo_3m>, <&vctcxo_24m>,
		 <&pll CLK_PLL1_D4>;
	clock-names = "osc", "vctcxo_1m", "vctcxo_3m", "vctcxo_24m",
		      "pll1_d4";
};

&syscon_apbc {
	clocks = <&osc_32k>, <&vctcxo_1m>, <&vctcxo_3m>, <&vctcxo_24m>,
		 <&pll CLK_PLL1_D4>,
		 <&syscon_mpmu CLK_PLL1_31P5>,
		 <&syscon_apmu CLK_PMUA_ACLK>;
	clock-names = "osc", "vctcxo_1m", "vctcxo_3m", "vctcxo_24m",
		      "pll1_d4", "pll1_d78_31p5", "pmua_aclk";
};

&uart0 {
	bootph-pre-ram;
};

&osc_32k {
	bootph-pre-ram;
};

&vctcxo_1m {
	bootph-pre-ram;
};

&vctcxo_3m {
	bootph-pre-ram;
};

&vctcxo_24m {
	bootph-pre-ram;
};

&syscon_mpmu {
	bootph-pre-ram;
};

&pll {
	bootph-pre-ram;
};

&syscon_apmu {
	bootph-pre-ram;
};

&syscon_apbc {
	bootph-pre-ram;
};

&i2c2 {
	bootph-pre-ram;
	status = "okay";
	pinctrl-0 = <&i2c2_0_cfg>;
	pinctrl-names = "default";
	resets = <&syscon_apbc RESET_TWSI2>;

	eeprom@50 {
		bootph-pre-ram;
		status = "okay";
		compatible = "atmel,24c02";
		reg = <0x50>;
		vcc-supply = <&buck3_1v8>; /* EEPROM_VCC1V8 */
		pagesize = <16>;
		read-only;
		size = <256>;

		nvmem-layout {
			compatible = "onie,tlv-layout";

			mac-address {
				#nvmem-cell-cells = <1>;
			};

			num-macs {
			};

			serial-number {
			};
		};
	};
};

&i2c8 {
	bootph-pre-ram;
	pinctrl-0 = <&i2c8_cfg>;
	pinctrl-names = "default";
	resets = <&syscon_apbc RESET_TWSI8>;
	status = "okay";

	pmic@41 {
		bootph-pre-ram;
		compatible = "spacemit,p1";
		reg = <0x41>;
		interrupts = <64>;
		status = "okay";

		regulators {
			buck1 {
				bootph-pre-ram;
				regulator-name = "vdd_core";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			buck2 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			buck3_1v8: buck3 {
				bootph-pre-ram;
				regulator-name = "vdd_1v8";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			buck4 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			buck5 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			buck6 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			aldo1 {
				bootph-pre-ram;
				regulator-name = "vdd_1v8_mmc";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
			};

			aldo2 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			aldo3 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			aldo4 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			dldo1 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
			};

			dldo2 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			dldo3 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			dldo4 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-always-on;
			};

			dldo5 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			dldo6 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-always-on;
			};

			dldo7 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};
		};
	};
};

&qspi {
	bootph-pre-ram;
	pinctrl-names = "default";
	pinctrl-0 = <&qspi_cfg>;
	status = "okay";

	flash@0 {
		bootph-pre-ram;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <26500000>;
		m25p,fast-read;
		broken-flash-reset;
		status = "okay";
	};
};

&binman {
	u-boot-spl-ddr {
		type = "section";
		filename = "u-boot-spl-ddr.bin";
		pad-byte = <0xff>;

		u-boot-spl {
		};

		ddr-fw {
			type = "blob";
			filename = "ddr_fw.bin";
			align = <64>;
		};

		u-boot-any {
			type = "section";
			size = <0>;
			offset = <0>;
		};
	};
};
