if TARGET_DA830EVM

config SYS_BOARD
	default "da8xxevm"

config SYS_VENDOR
	default "davinci"

config SYS_CONFIG_NAME
	default "da830evm"

endif

if TARGET_DA850EVM

config SYS_BOARD
	default "da8xxevm"

config SYS_VENDOR
	default "davinci"

config SYS_CONFIG_NAME
	default "da850evm"

endif

if TARGET_HAWKBOARD

config SYS_BOARD
	default "da8xxevm"

config SYS_VENDOR
	default "davinci"

config SYS_CONFIG_NAME
	default "hawkboard"

endif
