config MSM8916_USB_PHY
	bool "Qualcomm MSM8916 USB PHY support"
	depends on PHY
	help
          Support the USB PHY in msm8916

	  This PHY is found on qualcomm dragonboard410c development board.

config PHY_QCOM_IPQ4019_USB
	tristate "Qualcomm IPQ4019 USB PHY driver"
	depends on PHY && ARCH_IPQ40XX
	help
	  Support for the USB PHY-s on Qualcomm IPQ40xx SoC-s.

config PHY_QCOM_QMP_PCIE
	tristate "Qualcomm QMP PCIe PHY driver"
	depends on PHY && ARCH_SNAPDRAGON
	help
	  Enable this to support the PCIe QMP PHY on various Qualcomm chipsets.

config PHY_QCOM_QMP_UFS
	tristate "Qualcomm QMP UFS PHY driver"
	depends on PHY && ARCH_SNAPDRAGON
	help
	  Enable this to support the UFS QMP PHY on various Qualcomm chipsets.

config PHY_QCOM_QUSB2
	tristate "Qualcomm USB QUSB2 PHY driver"
	depends on PHY && ARCH_SNAPDRAGON
	help
	  Enable this to support the Super-Speed USB transceiver on various
	  Qualcomm chipsets.

config PHY_QCOM_USB_SNPS_FEMTO_V2
	tristate "Qualcomm SNPS FEMTO USB HS PHY v2"
	depends on PHY && ARCH_SNAPDRAGON
	help
	  Enable this to support the Qualcomm Synopsys DesignWare Core 7nm
	  High-Speed PHY driver. This driver supports the Hi-Speed PHY which
	  is usually paired with Synopsys DWC3 USB IPs on MSM SOCs.

config PHY_QCOM_SNPS_EUSB2
	tristate "Qualcomm Synopsys eUSB2 High-Speed PHY"
	depends on PHY && ARCH_SNAPDRAGON
	help
	  Enable this to support the Qualcomm Synopsys DesignWare eUSB2
	  High-Speed PHY driver. This driver supports the Hi-Speed PHY which
	  is usually paired with Synopsys DWC3 USB IPs on MSM SOCs.

config PHY_QCOM_USB_HS_28NM
	tristate "Qualcomm 28nm High-Speed PHY"
	depends on PHY && ARCH_SNAPDRAGON
	help
	  Enable this to support the Qualcomm Synopsys DesignWare Core 28nm
	  High-Speed PHY driver. This driver supports the Hi-Speed PHY which
	  is usually paired with either the ChipIdea or Synopsys DWC3 USB
	  IPs on MSM SOCs.

config PHY_QCOM_USB_SS
	tristate "Qualcomm USB Super-Speed PHY driver"
	depends on PHY && ARCH_SNAPDRAGON
	help
	  Enable this to support the Super-Speed USB transceiver on various
	  Qualcomm chipsets.
