if ROCKCHIP_RK3288

config TARGET_FIREFLY_RK3288
	bool "Firefly-RK3288"
	help
	  Firefly is a RK3288-based development board with 2 USB ports,
	  HDMI, VGA, micro-SD card, audio, WiFi  and Gigabit Ethernet, It
	  also includes on-board eMMC and 1GB of SDRAM. Expansion connectors
	  provide access to display pins, I2C, SPI, UART and GPIOs.

config SYS_SOC
	default "rockchip"

source "board/firefly/firefly-rk3288/Kconfig"

endif
