if ARCH_NOMADIK

choice
	prompt "Nomadik board select"

config NOMADIK_NHK8815
	bool "ST 8815 Nomadik Hardware Kit"

endchoice

config SYS_SOC
	default "nomadik"

source "board/st/nhk8815/Kconfig"

endif
