if TARGET_TQM823L

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM823L"

endif

if TARGET_TQM823M

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM823M"

endif

if TARGET_TQM850L

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM850L"

endif

if TARGET_TQM850M

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM850M"

endif

if TARGET_TQM855L

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM855L"

endif

if TARGET_TQM855M

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM855M"

endif

if TARGET_TQM860L

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM860L"

endif

if TARGET_TQM860M

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM860M"

endif

if TARGET_TQM862L

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM862L"

endif

if TARGET_TQM862M

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM862M"

endif

if TARGET_TQM866M

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM866M"

endif

if TARGET_TQM885D

config SYS_BOARD
	default "tqm8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQM885D"

endif
