if TARGET_MEDCOM_WIDE

config SYS_CPU
	string
	default "arm720t" if SPL_BUILD
	default "armv7" if !SPL_BUILD

config SYS_BOARD
	string
	default "medcom-wide"

config SYS_VENDOR
	string
	default "avionic-design"

config SYS_SOC
	string
	default "tegra20"

config SYS_CONFIG_NAME
	string
	default "medcom-wide"

endif
