config UT_OPTEE
	bool "Enable OP-TEE Unit Tests"
	depends on UNIT_TEST && OF_CONTROL && OPTEE
	default y
	help
	  This enables the 'ut optee' command which runs a series of unit
	  tests on the optee library code..
