if TARGET_CHROMEBOOK_JERRY

config SYS_BOARD
	default "chromebook_jerry"

config SYS_VENDOR
	default "google"

config SYS_CONFIG_NAME
	default "chromebook_jerry"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
