# SPDX-License-Identifier: GPL-2.0+
#
# (C) Copyright 2022 Broadcom Ltd
#

if BCM63138

config TARGET_BCM963138
	bool "Broadcom 63138 Reference Board"
	depends on ARCH_BCMBCA

config SYS_SOC
	default "bcm63138"

source "board/broadcom/bcmbca/Kconfig"

endif
