if RMOBILE

choice
	prompt "Renesus ARM SoCs board select"

config TARGET_ARMADILLO_800EVA
	bool "armadillo 800 eva board"

config TARGET_KOELSCH
	bool "Koelsch board"

config TARGET_LAGER
	bool "Lager board"

config TARGET_KZM9G
	bool "KZM9D board"

config TARGET_ALT
	bool "Alt board"

endchoice

config SYS_CPU
	default "armv7"

config SYS_SOC
	default "rmobile"

source "board/atmark-techno/armadillo-800eva/Kconfig"
source "board/renesas/koelsch/Kconfig"
source "board/renesas/lager/Kconfig"
source "board/kmc/kzm9g/Kconfig"
source "board/renesas/alt/Kconfig"

endif
