menu "SuperH architecture"
	depends on SH

config CPU_SH4
	bool

choice
	prompt "Target select"
	optional

config TARGET_R2DPLUS
	bool "Renesas R2D-PLUS"
	select CPU_SH4

config TARGET_SH7763RDP
	bool "SH7763RDP"
	select CPU_SH4

endchoice

config SYS_ARCH
	default "sh"

config SYS_CPU
	default "sh4" if CPU_SH4

source "arch/sh/lib/Kconfig"

source "board/renesas/r2dplus/Kconfig"
source "board/renesas/sh7763rdp/Kconfig"

endmenu
