if TARGET_S5P_GONI

config SYS_BOARD
	default "goni"

config SYS_VENDOR
	default "samsung"

config SYS_SOC
	default "s5pc1xx"

config SYS_CONFIG_NAME
	default "s5p_goni"

config DM
	default y if !SPL_BUILD

config DM_GPIO
	default y if !SPL_BUILD

config DM_SERIAL
	default y if !SPL_BUILD

endif
