if TARGET_COLIBRI_T30

config SYS_CPU
	string
	default "arm720t" if SPL_BUILD
	default "armv7" if !SPL_BUILD

config SYS_BOARD
	string
	default "colibri_t30"

config SYS_VENDOR
	string
	default "toradex"

config SYS_SOC
	string
	default "tegra30"

config SYS_CONFIG_NAME
	string
	default "colibri_t30"

endif
