if TARGET_MX53SMD

config SYS_CPU
	string
	default "armv7"

config SYS_BOARD
	string
	default "mx53smd"

config SYS_VENDOR
	string
	default "freescale"

config SYS_SOC
	string
	default "mx5"

config SYS_CONFIG_NAME
	string
	default "mx53smd"

endif
