// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Microsemi Corporation
 */

/dts-v1/;
#include "mscc,luton.dtsi"

/ {
	model = "Luton10 PCB091 Reference Board";
	compatible = "mscc,luton-pcb091", "mscc,luton";

	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	gpio-leds {
		compatible = "gpio-leds";

		top_dimmer {
			label = "pcb091:top:dimmer";
			gpios = <&gpio 29 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		status_green {
			label = "pcb091:green:status";
			gpios = <&sgpio 26 GPIO_ACTIVE_HIGH>; /* p26.0 */
			default-state = "on";
		};

		status_red {
			label = "pcb091:red:status";
			gpios = <&sgpio 58 GPIO_ACTIVE_HIGH>; /* p26.1 */
			default-state = "off";
		};
	};
};

&sgpio {
	status = "okay";
	mscc,sgpio-ports = <0xFFF000FF>;
};

&uart0 {
	status = "okay";
};

&spi0 {
	status = "okay";
	spi-flash@0 {
		compatible = "spi-flash";
		spi-max-frequency = <18000000>; /* input clock */
		reg = <0>; /* CS0 */
		spi-cs-high;
	};
};

&mdio0 {
	status = "okay";
};

&port0 {
	phy-handle = <&phy0>;
};

&port1 {
	phy-handle = <&phy1>;
};

&port2 {
	phy-handle = <&phy2>;
};

&port3 {
	phy-handle = <&phy3>;
};

&port4 {
	phy-handle = <&phy4>;
};

&port5 {
	phy-handle = <&phy5>;
};

&port6 {
	phy-handle = <&phy6>;
};

&port7 {
	phy-handle = <&phy7>;
};

&port8 {
	phy-handle = <&phy8>;
};

&port9 {
	phy-handle = <&phy9>;
};

&port10 {
	phy-handle = <&phy10>;
};

&port11 {
	phy-handle = <&phy11>;
};
