menu "mpc8260 CPU"
	depends on MPC8260

config SYS_CPU
	default "mpc8260"

choice
	prompt "Target select"

config TARGET_ATC
	bool "Support atc"

config TARGET_COGENT_MPC8260
	bool "Support cogent_mpc8260"

config TARGET_CPU86
	bool "Support CPU86"

config TARGET_CPU87
	bool "Support CPU87"

config TARGET_EP8260
	bool "Support ep8260"

config TARGET_EP82XXM
	bool "Support ep82xxm"

config TARGET_GW8260
	bool "Support gw8260"

config TARGET_HYMOD
	bool "Support hymod"

config TARGET_IPHASE4539
	bool "Support IPHASE4539"

config TARGET_MUAS3001
	bool "Support muas3001"

config TARGET_PM826
	bool "Support PM826"

config TARGET_PM828
	bool "Support PM828"

config TARGET_PPMC8260
	bool "Support ppmc8260"

config TARGET_SACSNG
	bool "Support sacsng"

config TARGET_MPC8266ADS
	bool "Support MPC8266ADS"

config TARGET_VOVPN_GW
	bool "Support VoVPN-GW"

config TARGET_IDS8247
	bool "Support IDS8247"

config TARGET_KM82XX
	bool "Support km82xx"

config TARGET_TQM8260
	bool "Support TQM8260"

config TARGET_TQM8272
	bool "Support TQM8272"

endchoice

source "board/atc/Kconfig"
source "board/cogent/Kconfig"
source "board/cpu86/Kconfig"
source "board/cpu87/Kconfig"
source "board/ep8260/Kconfig"
source "board/ep82xxm/Kconfig"
source "board/freescale/mpc8266ads/Kconfig"
source "board/funkwerk/vovpn-gw/Kconfig"
source "board/gw8260/Kconfig"
source "board/hymod/Kconfig"
source "board/ids/ids8247/Kconfig"
source "board/iphase4539/Kconfig"
source "board/keymile/km82xx/Kconfig"
source "board/muas3001/Kconfig"
source "board/pm826/Kconfig"
source "board/pm828/Kconfig"
source "board/ppmc8260/Kconfig"
source "board/sacsng/Kconfig"
source "board/tqc/tqm8260/Kconfig"
source "board/tqc/tqm8272/Kconfig"

endmenu
