if TARGET_ARNDALE

config SYS_CPU
	string
	default "armv7"

config SYS_BOARD
	string
	default "arndale"

config SYS_VENDOR
	string
	default "samsung"

config SYS_SOC
	string
	default "exynos"

config SYS_CONFIG_NAME
	string
	default "arndale"

endif
