if TARGET_O2D

config SYS_BOARD
	default "o2dnt2"

config SYS_VENDOR
	default "ifm"

config SYS_CONFIG_NAME
	default "o2d"

endif

if TARGET_O2D300

config SYS_BOARD
	default "o2dnt2"

config SYS_VENDOR
	default "ifm"

config SYS_CONFIG_NAME
	default "o2d300"

endif

if TARGET_O2DNT2

config SYS_BOARD
	default "o2dnt2"

config SYS_VENDOR
	default "ifm"

config SYS_CONFIG_NAME
	default "o2dnt2"

endif

if TARGET_O2I

config SYS_BOARD
	default "o2dnt2"

config SYS_VENDOR
	default "ifm"

config SYS_CONFIG_NAME
	default "o2i"

endif

if TARGET_O2MNT

config SYS_BOARD
	default "o2dnt2"

config SYS_VENDOR
	default "ifm"

config SYS_CONFIG_NAME
	default "o2mnt"

endif

if TARGET_O3DNT

config SYS_BOARD
	default "o2dnt2"

config SYS_VENDOR
	default "ifm"

config SYS_CONFIG_NAME
	default "o3dnt"

endif
