# Defconfig fragment to apply on top of am62x_evm_a53_defconfig

CONFIG_DEFAULT_DEVICE_TREE="k3-am625-beagleplay"
CONFIG_OF_LIST="k3-am625-beagleplay"
CONFIG_SPL_OF_LIST="k3-am625-beagleplay"
CONFIG_BOOTCOMMAND="run set_led_state_start_load;run findfdt; run envboot; bootflow scan -lb;run set_led_state_fail_load"
CONFIG_EXT4_WRITE=y
CONFIG_LZO=y
CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_PROMPT="Press SPACE to abort autoboot in %d seconds\n"
CONFIG_AUTOBOOT_DELAY_STR="d"
CONFIG_AUTOBOOT_STOP_STR=" "
# Use the Beagleplay env file
CONFIG_ENV_SOURCE_FILE="beagleplay"
# Do not use emmc boot - we will use FS only
CONFIG_SUPPORT_EMMC_BOOT=n
CONFIG_MMC_IO_VOLTAGE=y
# CONFIG_SPL_MMC_IO_VOLTAGE is not set
CONFIG_MMC_UHS_SUPPORT=y
# CONFIG_SPL_MMC_UHS_SUPPORT is not set
CONFIG_MMC_HS200_SUPPORT=y
# CONFIG_SPL_MMC_HS200_SUPPORT is not set
# Enable GPIO control
CONFIG_DM_GPIO=y
CONFIG_SPL_GPIO=y
CONFIG_DA8XX_GPIO=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_GPIO_READ=y
# Enable LEDs
CONFIG_LED=y
CONFIG_LED_GPIO=y
CONFIG_SPL_LED=y
CONFIG_SPL_LED_GPIO=y
# Enable I2C bus
CONFIG_SPL_I2C=y
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_OMAP24XX=y
CONFIG_CMD_I2C=y
# Regulator
CONFIG_DM_REGULATOR=y
CONFIG_DM_REGULATOR_FIXED=y
CONFIG_DM_REGULATOR_GPIO=y
CONFIG_CMD_REGULATOR=y
CONFIG_DM_REGULATOR_TPS65219=y
CONFIG_DM_PMIC=y
CONFIG_PMIC_TPS65219=y
CONFIG_CMD_PMIC=y
# Uses Realtek phy rather than TI phy
CONFIG_PHY_TI_DP83867=n
CONFIG_PHY_REALTEK=y
# No SPI flash on Beagleplay
CONFIG_SPI=n
CONFIG_SPI_FLASH=n
CONFIG_SPL_DM_SPI_FLASH=n
CONFIG_SPL_SPI_FLASH_SUPPORT=n
