// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2018 Marvell International Ltd.
 */

/*
 * Device Tree file for Marvell Armada 7040 Development board platform
 * Boot device: SPI NOR, 0x32 (SW3)
 */

#include "armada-70x0-db.dtsi"

/ {
	model = "Marvell Armada 7040 Development Board DB-88FA7040-PCAC";
	compatible = "marvell, armada7040-pcac", "marvell,armada7040",
		     "marvell,armada-ap806-quad", "marvell,armada-ap806";
	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		i2c0 = &cp0_i2c0;
		spi0 = &cp0_spi1;
		fuse0 = &ap_hd_efuse0;
		fuse1 = &ap_ld_efuse0;
		fuse2 = &ap_ld_efuse1;
		fuse3 = &cp0_ld_efuse0;
		fuse4 = &cp0_ld_efuse1;
	};

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	simple-bus {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usb3h1_current_limiter: usb3-current-limiter1 {
			compatible = "regulator-fixed";
			pinctrl-names = "default";
			pinctrl-0 = <&cp0_xhci_vbus_pins>;
			regulator-name = "reg-usb3h1-current-limiter";
			regulator-min-microvolt = <900000>;
			regulator-max-microvolt = <900000>;
			regulator-force-boot-off;
			gpio = <&cp0_gpio1 14 GPIO_ACTIVE_HIGH>; /* GPIO[46] */
		};
	};
};

&ap_pinctl {
	   /* MPP Bus:
	    * SDIO  [0-10]
	    * UART0 [11,19]
	    */
		  /* 0 1 2 3 4 5 6 7 8 9 */
	pin-func = < 1 1 1 1 1 1 1 1 1 1
		     1 3 0 0 0 0 0 0 0 3 >;
};

&uart0 {
	status = "okay";
};

&ap_hd_efuse0 {
	status = "okay";
};

&ap_ld_efuse0 {
	status = "okay";
};

&ap_ld_efuse1 {
	status = "okay";
};

&cp0_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&cp0_i2c0_pins>;
	status = "okay";
	clock-frequency = <100000>;
};

&cp0_pinctl {
		/* MPP Bus:
		 * RGMII0[0-11]
		 * SPI   [13-16]
		 * SATA1 [28]
		 * UART0 [29-30]
		 * PCI_RST [31]
		 * SMI	 [32,34]
		 * XSMI  [35-36]
		 * I2C	 [37-38]
		 * UART1 [40-41]
		 * USB CURRENT-LIMIT	[46]
		 * UART2 [50-51]
		 */
		/*   0   1   2   3   4   5   6   7   8   9 */
	pin-func = < 3   3   3   3   3   3   3   3   3   3
		     3   3   0   3   3   3   3   0   0   0
		     0   0   0   0   0   0   0   0   9   0xA
		     0xA 6   7   0   7   0   0   2   2   0
		     0   0   0   0   0   0   0   7   0   7
		     6   6   0   0   0   0   0   0   0   0
		     0   0   0>;

	cp0_xhci_vbus_pins: cp0-xhci-vbus-pins {
		marvell,pins = < 46 >;
		marvell,function = <0>;
	};
};

&cp0_spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&cp0_spi0_pins>;
	status = "okay";

	spi-flash@0 {
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		compatible = "jedec,spi-nor", "spi-flash";
		reg = <0x0>;
		spi-max-frequency = <108000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "U-Boot";
				reg = <0x0 0x200000>;
			};

			partition@400000 {
				label = "Filesystem";
				reg = <0x200000 0xe00000>;
			};
		};
	};
};

&cp0_ld_efuse0 {
	status = "okay";
};

&cp0_ld_efuse1 {
	status = "okay";
};

&cp0_sata0 {
	status = "okay";
};

&cp0_usb3_1 {
	vbus-supply = <&reg_usb3h1_current_limiter>;
	status = "okay";
};

&cp0_comphy {
	phy0 {
		phy-type = <COMPHY_TYPE_IGNORE>;
	};

	phy1 {
		phy-type = <COMPHY_TYPE_IGNORE>;
	};

	phy2 {
		phy-type = <COMPHY_TYPE_IGNORE>;
	};

	phy3 {
		phy-type = <COMPHY_TYPE_IGNORE>;
	};

	phy4 {
		phy-type = <COMPHY_TYPE_SFI0>;
		phy-speed = <COMPHY_SPEED_10_3125G>;
	};

	phy5 {
		phy-type = <COMPHY_TYPE_SATA1>;
	};
};

&ap_sdhci0 {

	status = "okay";
	bus-width = <4>;
	no-1-8-v;
	non-removable;
};

&cp0_utmi0 {
	status = "okay";
};

&cp0_mdio {
	status = "okay";
	phy0: ethernet-phy@0 {
		reg = <1>;
	};
};

&cp0_ethernet {
	status = "okay";
};

&cp0_eth0 {
	status = "okay";
	phy-mode = "sfi"; /* lane-4*/
};

&cp0_eth1 {
	status = "okay";
	phy = <&phy0>;
	phy-mode = "rgmii-id"; /* rgmii-0*/
};
