// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * Copyright 2016 Toradex AG
 */

/dts-v1/;
#include "vf.dtsi"

/ {
	model = "Phytec phyCORE-Vybrid";
	compatible = "phytec,pcm052", "fsl,vf610";

	chosen {
		stdout-path = &uart1;
	};

	aliases {
		spi0 = &qspi0;
	};

};

&uart1 {
	status = "okay";
};

&qspi0 {
	bus-num = <0>;
	num-cs = <2>;
	status = "okay";

	qflash0: spi_flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <108000000>;
		reg = <0>;
	};

	qflash1: spi_flash@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <66000000>;
		reg = <1>;
	};
};
