// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * NXP LX2160AQDS device tree source for the SERDES block #1 - protocol 14
 *
 * Some assumptions are made:
 *    * mezzanine card M8 (100G) is connected to IO SLOT 1 - DPMAC 1
 *
 * Copyright 2021-2022 NXP
 *
 */

#include "fsl-lx2160a-qds.dtsi"

&dpmac1 {
	status = "okay";
	phy-handle = <&inphi1_phy0 &inphi1_phy1>;
	phy-connection-type = "caui4";
};

&emdio1_slot1 {
	inphi1_phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id0210.7440";
		reg = <0x0>;
	};

	inphi1_phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-id0210.7440";
		reg = <0x1>;
	};
};
