// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2021 NXP
 */

/ {
	binman: binman {
		multiple-images;
	};

};

&{/soc@0} {
	u-boot,dm-spl;
};

&{/soc@0/bus@30000000} {
	u-boot,dm-spl;
};

&{/soc@0/bus@30400000} {
	u-boot,dm-spl;
};

&{/soc@0/bus@30800000} {
	u-boot,dm-spl;
};

&{/soc@0/bus@32c00000} {
	u-boot,dm-spl;
};

&iomuxc {
	u-boot,dm-spl;
};

&binman {
	u-boot-spl-ddr {
		align = <4>;
		align-size = <4>;
		filename = "u-boot-spl-ddr.bin";
		pad-byte = <0xff>;

		u-boot-spl {
			align-end = <4>;
			filename = "u-boot-spl.bin";
		};

		1d-imem {
			filename = "lpddr4_pmu_train_1d_imem.bin";
			size = <0x8000>;
			type = "blob-ext";
		};

		1d-dmem {
			filename = "lpddr4_pmu_train_1d_dmem.bin";
			size = <0x4000>;
			type = "blob-ext";
		};

		2d-imem {
			filename = "lpddr4_pmu_train_2d_imem.bin";
			size = <0x8000>;
			type = "blob-ext";
		};

		2d-dmem {
			filename = "lpddr4_pmu_train_2d_dmem.bin";
			size = <0x4000>;
			type = "blob-ext";
		};
	};

	signed-hdmi {
		filename = "signed_hdmi.bin";

		signed-hdmi-imx8m {
			filename = "signed_hdmi_imx8m.bin";
			type = "blob-ext";
		};
	};

	spl {
		filename = "spl.bin";

		mkimage {
			args = "-n spl/u-boot-spl.cfgout -T imx8mimage -e 0x7e1000";

			blob {
				filename = "u-boot-spl-ddr.bin";
			};
		};
	};

	itb {
		filename = "u-boot.itb";

		fit {
			description = "Configuration to load ATF before U-Boot";
			fit,external-offset = <CONFIG_FIT_EXTERNAL_OFFSET>;
			#address-cells = <1>;

			images {
				uboot {
					arch = "arm64";
					compression = "none";
					description = "U-Boot (64-bit)";
					load = <CONFIG_SYS_TEXT_BASE>;
					type = "standalone";

					uboot-blob {
						filename = "u-boot-nodtb.bin";
						type = "blob-ext";
					};
				};

				atf {
					arch = "arm64";
					compression = "none";
					description = "ARM Trusted Firmware";
					entry = <0x910000>;
					load = <0x910000>;
					type = "firmware";

					atf-blob {
						filename = "bl31.bin";
						type = "blob-ext";
					};
				};

				fdt {
					compression = "none";
					description = "NAME";
					type = "flat_dt";

					uboot-fdt-blob {
						filename = "u-boot.dtb";
						type = "blob-ext";
					};
				};
			};

			configurations {
				default = "conf";

				conf {
					description = "NAME";
					fdt = "fdt";
					firmware = "uboot";
					loadables = "atf";
				};
			};
		};
	};

	imx-boot {
		filename = "flash.bin";
		pad-byte = <0x00>;

		spl {
			filename = "spl.bin";
			offset = <0x0>;
			type = "blob-ext";
		};

		binman_uboot: uboot {
			filename = "u-boot.itb";
			offset = <0x57c00>;
			type = "blob-ext";
		};
	};
};
