// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2021 Gateworks Corporation
 */

#include "imx8mm-venice-u-boot.dtsi"

&gpio1 {
	m2rst {
		gpio-hog;
		output-low;
		gpios = <13 GPIO_ACTIVE_HIGH>;
		line-name = "m2_reset";
	};

	m2wdis {
		gpio-hog;
		output-high;
		gpios = <15 GPIO_ACTIVE_HIGH>;
		line-name = "m2_wdis#";
	};
};

&gpio2 {
	uart2en {
		gpio-hog;
		output-high;
		gpios = <8 GPIO_ACTIVE_HIGH>;
		line-name = "uart2_en#";
	};
};

&gpio3 {
	m2gdis {
		gpio-hog;
		output-high;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		line-name = "m2_gdis#";
	};

	m2off {
		gpio-hog;
		output-high;
		gpios = <7 GPIO_ACTIVE_HIGH>;
		line-name = "m2_off#";
	};
};

&gpio4 {
	ampgpio3 {
		gpio-hog;
		input;
		gpios = <11 GPIO_ACTIVE_HIGH>;
		line-name = "amp_gpio3";
	};

	ampgpio2 {
		gpio-hog;
		input;
		gpios = <12 GPIO_ACTIVE_HIGH>;
		line-name = "amp_gpio2";
	};

	ampgpio1 {
		gpio-hog;
		input;
		gpios = <14 GPIO_ACTIVE_HIGH>;
		line-name = "amp_gpio1";
	};

	ltrpwr {
		gpio-hog;
		output-low;
		gpios = <16 GPIO_ACTIVE_HIGH>;
		line-name = "lte_pwr#";
	};

	lterst {
		gpio-hog;
		output-low;
		gpios = <17 GPIO_ACTIVE_HIGH>;
		line-name = "lte_rst";
	};

	ampgpio4 {
		gpio-hog;
		input;
		gpios = <20 GPIO_ACTIVE_HIGH>;
		line-name = "amp_gpio4";
	};

	appgpio1 {
		gpio-hog;
		input;
		gpios = <21 GPIO_ACTIVE_HIGH>;
		line-name = "app_gpio1";
	};

	uart1rs485 {
		gpio-hog;
		output-low;
		gpios = <23 GPIO_ACTIVE_HIGH>;
		line-name = "uart1_rs485";
	};

	uart1term {
		gpio-hog;
		output-low;
		gpios = <25 GPIO_ACTIVE_HIGH>;
		line-name = "uart1_term";
	};

	uart1half {
		gpio-hog;
		output-low;
		gpios = <26 GPIO_ACTIVE_HIGH>;
		line-name = "uart1_half";
	};

	appgpio2 {
		gpio-hog;
		input;
		gpios = <27 GPIO_ACTIVE_HIGH>;
		line-name = "app_gpio2";
	};

	mipigpio1 {
		gpio-hog;
		input;
		gpios = <28 GPIO_ACTIVE_HIGH>;
		line-name = "mipi_gpio1";
	};
};

&gpio5 {
	mipigpio4 {
		gpio-hog;
		input;
		gpios = <3 GPIO_ACTIVE_HIGH>;
		line-name = "mipi_gpio4";
	};

	mipigpio3 {
		gpio-hog;
		input;
		gpios = <4 GPIO_ACTIVE_HIGH>;
		line-name = "mipi_gpio3";
	};

	mipigpio2 {
		gpio-hog;
		input;
		gpios = <5 GPIO_ACTIVE_HIGH>;
		line-name = "mipi_gpio2";
	};
};

&fec1 {
	phy-reset-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <1>;
	phy-reset-post-delay = <300>;
};

&pinctrl_fec1 {
	u-boot,dm-spl;
};

&{/soc@0/bus@30800000/i2c@30a20000/pmic@4b} {
	u-boot,dm-spl;
};

&{/soc@0/bus@30800000/i2c@30a20000/pmic@4b/regulators} {
	u-boot,dm-spl;
};

&pinctrl_pmic {
	u-boot,dm-spl;
};
