// SPDX-License-Identifier: GPL-2.0+
/*
 * (C) Copyright 2018-2019 Rockchip Electronics Co., Ltd
 */
#include "rk3308-u-boot.dtsi"

/ {
	aliases {
		ethernet0 = &gmac;
	};
};

&gmac {
	assigned-clocks = <&cru SCLK_MAC>;
	assigned-clock-parents = <&mac_clkin>;
	clock_in_out = "input";
	pinctrl-names = "default";
	pinctrl-0 = <&rmiim1_pins &macm1_refclk>;
	status = "okay";
};

&gpio4 {
	bootph-pre-ram;
};

&uart2 {
	bootph-all;
	clock-frequency = <24000000>;
};

&uart2m0_xfer {
	bootph-all;
};

&vcc_sd {
	bootph-pre-ram;
};

&vdd_core {
	regulator-init-microvolt = <1015000>;
};
