// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Minimal generic DT for RK3528 with eMMC enabled
 */

/dts-v1/;
#include "rk3528.dtsi"

/ {
	model = "Generic RK3528";
	compatible = "rockchip,rk3528";

	chosen {
		stdout-path = "serial0:1500000n8";
	};
};

&sdhci {
	bus-width = <8>;
	cap-mmc-highspeed;
	no-sd;
	no-sdio;
	non-removable;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0m0_xfer>;
	status = "okay";
};
