// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * (C) Copyright 2024 - Analog Devices, Inc.
 */

#include "sc5xx.dtsi"

/ {
	gic: interrupt-controller@310b2000 {
		compatible = "arm,cortex-a5-gic";
		#interrupt-cells = <3>;
		#address-cells = <0>;
		interrupt-controller;
		reg = <0x310B2000 0x1000>,
		      <0x310B4000 0x100>;
	};
};

&timer0 {
	reg = <0x31001004 0x100>,
	      <0x31001060 0x100>;
	clocks = <&clk ADSP_SC58X_CLK_CGU0_SCLK0>;
};
