#include <configs/am335x_evm.config>

CONFIG_TI_SECURE_DEVICE=y
# CONFIG_SPL_ENV_SUPPORT is not set
CONFIG_SPL_FS_LOAD_PAYLOAD_NAME="u-boot.img"
# CONFIG_SPL_NAND_SUPPORT is not set
CONFIG_SPL_NAND_DRIVERS=y
CONFIG_SPL_NAND_ECC=y
CONFIG_MTDIDS_DEFAULT="nand0=nand.0"
CONFIG_MTDPARTS_DEFAULT="mtdparts=nand.0:128k(NAND.SPL),128k(NAND.SPL.backup1),128k(NAND.SPL.backup2),128k(NAND.SPL.backup3),256k(NAND.u-boot-spl-os),1m(NAND.u-boot),128k(NAND.u-boot-env),128k(NAND.u-boot-env.backup1),8m(NAND.kernel),-(NAND.file-system)"
CONFIG_OF_LIST="ti/omap/am335x-evm ti/omap/am335x-bone ti/omap/am335x-boneblack ti/omap/am335x-boneblack-wireless ti/omap/am335x-bonegreen ti/omap/am335x-bonegreen-wireless ti/omap/am335x-bonegreen-eco ti/omap/am335x-boneblue ti/omap/am335x-evmsk ti/omap/am335x-icev2 ti/omap/am335x-pocketbeagle"
CONFIG_SPL_DM_USB_GADGET=y
CONFIG_SPL_TINY_MEMSET=y
CONFIG_RSA=y
