CONFIG_USB=y
CONFIG_USB_HOST=y
CONFIG_SPL_USB_HOST=y
CONFIG_SYSCON=y
CONFIG_SPL_SYSCON=y
CONFIG_MISC=y
CONFIG_SPL_MISC=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_GADGET=y
CONFIG_SPL_USB_GADGET=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_GENERIC=y
CONFIG_SPL_USB_DWC3_GENERIC=y
CONFIG_USB_DWC3_AM62=y
CONFIG_SPL_USB_DWC3_AM62=y
CONFIG_USB_STORAGE=y
CONFIG_SPL_USB_STORAGE=y
# CONFIG_DM_USB_GADGET is not set
# CONFIG_SPL_DM_USB_GADGET is not set
# CONFIG_USB_GADGET_DOWNLOAD is not set
