#include <configs/j721s2_evm_a72_defconfig>

CONFIG_ARM=y
CONFIG_ARCH_K3=y
CONFIG_SOC_K3_J721S2=y
CONFIG_TARGET_J721S2_A72_EVM=y

CONFIG_SPL_OF_LIST="ti/k3-am68-sk-base-board"
CONFIG_DEFAULT_DEVICE_TREE="ti/k3-am68-sk-base-board"
CONFIG_OF_LIST="ti/k3-am68-sk-base-board"
