#include <configs/am69_sk_a72_defconfig>

CONFIG_ARM=y
CONFIG_ARCH_K3=y
CONFIG_SOC_K3_J784S4=y
CONFIG_TARGET_J784S4_A72_EVM=y
CONFIG_DEFAULT_DEVICE_TREE="ti/k3-am69-sk"
CONFIG_SPL_ETH=y
CONFIG_SPL_NET=y
CONFIG_SPL_NET_VCI_STRING="AM69 U-Boot A72 SPL"
CONFIG_SYS_K3_SPL_ATF=y
