CONFIG_BOOTCOMMAND="fastboot usb 0;"
CONFIG_CMD_FASTBOOT=y
CONFIG_FASTBOOT=y
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_FASTBOOT_FLASH=y
CONFIG_FASTBOOT_UUU_SUPPORT=y
CONFIG_FASTBOOT_FLASH_MMC=y
CONFIG_FASTBOOT_OEM_RUN=y
CONFIG_CMD_PART=y
CONFIG_CMD_GPT=y
CONFIG_FASTBOOT_BUF_ADDR=0x82000000
CONFIG_FASTBOOT_BUF_SIZE=0x7000000
CONFIG_FASTBOOT_FLASH_MMC_DEV=0
CONFIG_RANDOM_UUID=y
CONFIG_FASTBOOT_CMD_OEM_FORMAT=y
CONFIG_BOOTDELAY=0
CONFIG_FASTBOOT_MMC_BOOT1_NAME="mmc0boot0"
CONFIG_FASTBOOT_MMC_BOOT2_NAME="mmc0boot1"
CONFIG_FASTBOOT_MMC_BOOT_SUPPORT=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_CMD_MTD=y
CONFIG_CMD_MTDPARTS=y
