#include <configs/imx_dhsom.config>

CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_MX6QDL=y
CONFIG_TARGET_DHCOMIMX6=y
CONFIG_SPL_SYS_L2_PL310=y
CONFIG_MX6_DDRCAL=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_OF_LIBFDT_OVERLAY=y
CONFIG_OF_UPSTREAM=y
CONFIG_FIT_VERBOSE=y
CONFIG_MULTI_DTB_FIT=y
CONFIG_LTO=y

CONFIG_SYS_CONSOLE_OVERWRITE_ROUTINE=y
CONFIG_SYS_I2C_MXC=y
CONFIG_SYS_MALLOC_F_LEN=0x1000
CONFIG_SYS_MAXARGS=32
CONFIG_SYS_MEMTEST_END=0x20000000
CONFIG_SYS_MEMTEST_START=0x10000000
CONFIG_SYS_MONITOR_LEN=409600
CONFIG_SYS_PBSIZE=532

CONFIG_SYS_BOOTCOUNT_ADDR=0x020CC068
CONFIG_SYS_BOOTCOUNT_BE=y
CONFIG_BOOTCOUNT_LIMIT=y
CONFIG_BOOTDELAY=3

CONFIG_BZIP2=y
CONFIG_CMD_SATA=y
CONFIG_CMD_UNZIP=y
CONFIG_CMD_WDT=y
CONFIG_DISTRO_DEFAULTS=y

CONFIG_ENV_OFFSET=0x100000
CONFIG_ENV_OFFSET_REDUND=0x110000
CONFIG_ENV_SECT_SIZE=0x10000
CONFIG_ENV_SIZE=0x4000

# CONFIG_CMD_SCSI is not set
CONFIG_AHCI=y
CONFIG_BOUNCE_BUFFER=y
CONFIG_DWC_AHSATA=y
CONFIG_LBA48=y
CONFIG_SCSI=y

CONFIG_ARP_TIMEOUT=200
CONFIG_ETHPRIME="FEC"
CONFIG_USE_ETHPRIME=y
CONFIG_PHYLIB=y

CONFIG_SF_DEFAULT_SPEED=25000000
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_UNLOCK_ALL=y

CONFIG_MISC=y

CONFIG_PINCTRL_IMX6=y

CONFIG_SDP_LOADADDR=0x17ffffc0
CONFIG_SPL_FIT=y
CONFIG_SPL_SPI=y
CONFIG_SPL_SPI_FLASH_SUPPORT=y
CONFIG_SPL_SPI_LOAD=y
CONFIG_SPL_USB_GADGET=y
CONFIG_SPL_USB_HOST=y
CONFIG_SPL_USB_SDP_SUPPORT=y
CONFIG_SYS_DFU_DATA_BUF_SIZE=0x1000000
CONFIG_SYS_SPI_U_BOOT_OFFS=0x11400
CONFIG_CI_UDC=y
CONFIG_USB_GADGET_DOWNLOAD=y

CONFIG_WATCHDOG_TIMEOUT_MSECS=60000
