# The MSI Primo81 is an A31s based tablet, with 1G RAM, 16G NAND,
# 1024x768 IPS LCD display, mono speaker, 0.3 MP front camera, 2.0 MP
# rear camera, 3500 mAh battery, gt911 touchscreen, mma8452 accelerometer
# and rtl8188etv usb wifi. Has "power", "volume+" and "volume-" buttons
# (both volume buttons are also connected to the UBOOT_SEL pin). The
# external connectors are represented by MicroSD slot, MiniHDMI, MicroUSB
# OTG and 3.5mm headphone jack. More details are available at
#     http://linux-sunxi.org/MSI_Primo81

CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS=""
CONFIG_FDTFILE="sun6i-a31s-primo81.dtb"
CONFIG_USB_KEYBOARD=n
+S:CONFIG_ARM=y
+S:CONFIG_ARCH_SUNXI=y
+S:CONFIG_MACH_SUN6I=y
+S:CONFIG_DRAM_CLK=360
+S:CONFIG_DRAM_ZQ=122
# Wifi power
+S:CONFIG_AXP221_DLDO1_VOLT=3300
