CONFIG_M68K=y
CONFIG_TEXT_BASE=0x00000000
CONFIG_SYS_MALLOC_LEN=0x20000
CONFIG_SYS_MALLOC_F_LEN=0x2000
CONFIG_SYS_MONITOR_LEN=262144
CONFIG_SYS_BOOTM_LEN=0x1000000
CONFIG_SYS_LOAD_ADDR=0x00000000
CONFIG_TARGET_QEMU_M68K=y
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_CMD_POWEROFF=y
CONFIG_DM_RTC=y
CONFIG_RTC_GOLDFISH=y
CONFIG_DM_SERIAL=y
CONFIG_SERIAL_GOLDFISH=y
CONFIG_SYSRESET=y
CONFIG_SYSRESET_CMD_POWEROFF=y
CONFIG_SYSRESET_QEMU_VIRT_CTRL=y
CONFIG_TIMER=y
CONFIG_GOLDFISH_TIMER=y
