#include <configs/qemu_arm64_defconfig>

CONFIG_ARM=y
CONFIG_ARCH_QEMU=y

CONFIG_NET_LWIP=y
CONFIG_CMD_DNS=y
CONFIG_CMD_SNTP=y
CONFIG_CMD_WGET=y
CONFIG_EFI_HTTP_BOOT=y
CONFIG_WGET_HTTPS=y
CONFIG_WGET_CACERT=y
