CONFIG_X86=y
CONFIG_VENDOR_EMULATION=y
CONFIG_DEFAULT_DEVICE_TREE="qemu-x86_i440fx"
CONFIG_TARGET_QEMU_X86=y
CONFIG_GENERATE_PIRQ_TABLE=y
CONFIG_CMD_NET=y
CONFIG_OF_CONTROL=y
CONFIG_VIDEO_VESA=y
CONFIG_FRAMEBUFFER_SET_VESA_MODE=y
CONFIG_FRAMEBUFFER_VESA_MODE_111=y
