#include <configs/renesas_rcar64.config>

CONFIG_ARM=y
CONFIG_ARCH_RENESAS=y
CONFIG_RCAR_64_RSIP=y
CONFIG_RCAR_GEN5=y
CONFIG_TARGET_IRONHIDE=y
CONFIG_DEFAULT_DEVICE_TREE="r8a78000-ironhide-cm33"
CONFIG_DEFAULT_FDT_FILE="r8a78000-ironhide-cm33.dtb"

CONFIG_TEXT_BASE=0x18410000
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x3fe10000
CONFIG_SYS_CUSTOM_LDSCRIPT=y
CONFIG_SYS_LDSCRIPT="arch/arm/mach-renesas/u-boot-rsip.lds"
CONFIG_SKIP_RELOCATE_CODE=y
CONFIG_SKIP_RELOCATE_CODE_DATA_OFFSET=0xa0000000

CONFIG_ARCH_CPU_INIT=y
CONFIG_BAUDRATE=1843200
CONFIG_BOOTCOMMAND=""
CONFIG_BOUNCE_BUFFER=y
CONFIG_CMD_IMI=y
CONFIG_CMD_REMOTEPROC=y
CONFIG_CMD_UFS=y
CONFIG_DM_DMA=y
CONFIG_DM_ETH_PHY=y
CONFIG_DM_RESET=y
CONFIG_ENV_SIZE=0x20000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_LAST_STAGE_INIT=y
CONFIG_NET_LWIP=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_OF_LIVE=y
CONFIG_PHY_R8A78000_ETHERNET_PCS=y
CONFIG_PHY_R8A78000_MP_PHY=y
CONFIG_PHY_TI_DP83869=y
CONFIG_POWER_DOMAIN=y
CONFIG_RAM=y
CONFIG_REMOTEPROC_RENESAS_RSIP=y
CONFIG_RENESAS_ETHER_SWITCH=y
CONFIG_RENESAS_R8A78000_POWER_DOMAIN=y
CONFIG_SCSI=y
CONFIG_SERIAL_PROBE_ALL=y
CONFIG_SF_DEFAULT_SPEED=40000000
CONFIG_SIMPLE_BUS_CORRECT_RANGE=y
CONFIG_SKIP_RELOCATE=y
CONFIG_SYS_ARCH_TIMER=y
CONFIG_SYS_BARGSIZE=2048
CONFIG_SYS_BOOT_GET_CMDLINE=y
CONFIG_SYS_CLK_FREQ=16666666
CONFIG_SYS_LOAD_ADDR=0xb8000000
CONFIG_SYS_MALLOC_LEN=0x80000
CONFIG_SYS_TIMER_COUNTS_DOWN=y
CONFIG_UFS=y
CONFIG_UFS_RENESAS_GEN5=y
CONFIG_USE_BOOTARGS=y
CONFIG_USE_BOOTCOMMAND=y
CONFIG_WATCHDOG_TIMEOUT_MSECS=2000
CONFIG_WDT=y
CONFIG_WDT_RENESAS_WWDT=y
# CONFIG_DM_THERMAL is not set
# CONFIG_EFI_LOADER is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTM is not set
# CONFIG_CMD_BOOTFLOW is not set
# CONFIG_CMD_BOOTZ is not set
# CONFIG_PROT_TCP is not set
# CONFIG_OF_UPSTREAM is not set
# CONFIG_BOARD_EARLY_INIT_F is not set
# CONFIG_OF_BOARD_SETUP is not set
# CONFIG_SYS_ARCH_TIMER is not set

CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_SCIF=y
CONFIG_DEBUG_UART_BASE=0xc0714000
CONFIG_DEBUG_UART_CLOCK=24000000
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_DEBUG_UART_BOARD_INIT=y
