#include <configs/renesas_rcar4_s4.config>

CONFIG_ARM=y
CONFIG_ARCH_RENESAS=y
CONFIG_RCAR_GEN4=y
CONFIG_TARGET_S4SK=y
CONFIG_DEFAULT_DEVICE_TREE="renesas/r8a779f4-s4sk"
CONFIG_BOOTCOMMAND="tftp 0x48080000 Image && tftp 0x48000000 Image-r8a779f4-s4sk.dtb && booti 0x48080000 - 0x48000000"
CONFIG_DEFAULT_FDT_FILE="r8a779f4-s4sk.dtb"
CONFIG_BAUDRATE=921600
CONFIG_BOARD_LATE_INIT=y
