<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="UBootEFI">
 <bookinfo>
  <title>The U-Boot EFI subsystem</title>
 </bookinfo>

<toc></toc>

  <chapter id="BootServices">
     <title>Boot services</title>
!Ilib/efi_loader/efi_boottime.c
  </chapter>

</book>
