if TARGET_ZYNQ_MICROZED

config SYS_CPU
	string
	default "armv7"

config SYS_BOARD
	string
	default "zynq"

config SYS_VENDOR
	string
	default "xilinx"

config SYS_SOC
	string
	default "zynq"

config SYS_CONFIG_NAME
	string
	default "zynq_microzed"

endif

if TARGET_ZYNQ_ZC70X

config SYS_CPU
	string
	default "armv7"

config SYS_BOARD
	string
	default "zynq"

config SYS_VENDOR
	string
	default "xilinx"

config SYS_SOC
	string
	default "zynq"

config SYS_CONFIG_NAME
	string
	default "zynq_zc70x"

endif

if TARGET_ZYNQ_ZC770

config SYS_CPU
	string
	default "armv7"

config SYS_BOARD
	string
	default "zynq"

config SYS_VENDOR
	string
	default "xilinx"

config SYS_SOC
	string
	default "zynq"

config SYS_CONFIG_NAME
	string
	default "zynq_zc770"

endif

if TARGET_ZYNQ_ZED

config SYS_CPU
	string
	default "armv7"

config SYS_BOARD
	string
	default "zynq"

config SYS_VENDOR
	string
	default "xilinx"

config SYS_SOC
	string
	default "zynq"

config SYS_CONFIG_NAME
	string
	default "zynq_zed"

endif
