menu "Multiplexer drivers"

config MULTIPLEXER
	bool "Multiplexer Support"
	depends on DM
	help
	 The mux framework is a minimalistic subsystem that handles multiplexer
	 controllers. It provides the same API as Linux and mux drivers should
	 be portable with a minimum effort.

if MULTIPLEXER

config MUX_MMIO
	bool "MMIO register bitfield-controlled Multiplexer"
	depends on MULTIPLEXER && SYSCON
	help
	  MMIO register bitfield-controlled Multiplexer controller.

	  The driver builds multiplexer controllers for bitfields in a syscon
	  register. For N bit wide bitfields, there will be 2^N possible
	  multiplexer states.

endif

endmenu
